<table class="table table-striped">
    <thead>
        <tr>
            <th>Codice</th>
            <th>Nome</th>
            <th>Descrizione</th>
            <th>Paese</th>
            <th>Img</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let dest of elencoDestinazioni">
            <td>{{ dest.codDes }}</td>
            <td>{{ dest.nom }}</td>
            <td>{{ dest.desc }}</td>
            <td>{{ dest.pae }}</td>
            <td><img src="{{ dest.imU }}"></td>
            <td>
                <button type="button" class="btn btn-danger">X</button>
                <a class="btn btn-warning">M</a>
            </td>
        </tr>
    </tbody>
</table>
