<!-- <table class="table table-striped">
    <thead>
        <tr>
            <th>Codice</th>
            <th>Nome</th>
            <th>Descrizione</th>
            <th>Paese</th>
            <th>Img</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let dest of elencoDestinazioni">
            <td>{{ dest.codDes }}</td>
            <td>{{ dest.nom }}</td>
            <td>{{ dest.desc }}</td>
            <td>{{ dest.pae }}</td>
            <td><img src="{{ dest.imU }}"></td>
            <td>
                <button type="button" class="btn btn-danger">X</button>
                <a class="btn btn-warning">M</a>
            </td>
        </tr>
    </tbody>
</table> -->
<div class="row">
    <div class="col mx-1 my-1" *ngFor="let dest of elencoDestinazioni">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="{{ dest.imU }}" alt="Card image cap">
            <div class="card-body">
            <h5 class="card-title">{{ dest.nom }}</h5>
            <h6 class="card-subtitle mb-2 text-muted">{{ dest.pae }}</h6>
            <p class="card-text">{{ dest.desc }}</p>
            <a href="#" class="btn btn-warning"><i class="bi bi-pencil-square"></i></a>
            </div>
        </div>
    </div>
</div>